<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/user_profile.css" />
  </head>
  <body>
    <h1>Codeial / Profile Page</h1>
    <p><%= profile_user.name %></p>
    <P><%= profile_user.email %></P>
  </body>
</html>
